$font-family-sans-serif: 'Exo 2';
$navbar-padding-y: 1rem;
$navbar-brand-font-size: 1.5rem;
$primary: #5e5083;
@import '../node_modules/bootstrap/scss/bootstrap.scss';

$fa-font-path: "/assets/font-awesome/fonts";
@import '/assets/font-awesome/scss/font-awesome.scss';

@import '/scss/common.scss';
@import '/scss/sidemenu.scss';
@import '/scss/indeterminate.scss';
@import '/scss/DialogGetFile.scss';
@import '/scss/overview.scss';
@import '/scss/privatepolicy.scss';
