html, body, #root, .App, .sidenav-main {
  height: 100%;
}

.content {
  min-height: 100%;
  box-sizing: border-box;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

body {
  background: #FFF;
}

.navbar {
  @include gradient-y(#8b77bf, #6d54af);
  color: #fff;

  img {
    margin-top: -10px;
    margin-right: 0.5rem;
  }
}

footer {
  padding: 50px 0;
  background: #5e5083;
  color:#ccc;

  a {
    color: #ccc;

    &:hover {
      color: #ccc;
    }
  }

  img {
    padding-right: 7px;
    padding-bottom: 3px;
  }

  p {
    margin-bottom: 0.2rem;
  }

  i {
    margin-right: 10px;
  }

  span {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.clickable {

  cursor: pointer;
  color: $primary;

  &:hover {
    text-decoration: underline;
  }

}

.pointer {
  cursor: pointer;
}

.videoplayer {
    width: 100%;
}

@include media-breakpoint-up(md) {
  .videoplayer {
      width: 640px;
  }
}
