.sidenav-main {
  @media (min-width: 768px) {
    padding-left: 42px;
  }
}

.sidenav---sidenav---_2tBP {
  position: fixed !important;
  background: #8e8e8e !important;
  min-width: 36px !important;
}

.sidenav---expanded---1KdUL {
  min-width: 200px !important;
}

.sidenav---sidenav-toggle---1KRjR {
  margin: 4px 0px !important;
  width: 36px !important;
}

.sidenav---navtext---1AE_f {
  color: #eee !important;
}

.sidenav---navicon---3gCRo {
  margin-top: 5px;
  width: 36px !important;
  margin-right: 6px !important;
}

.sidenav-icon {
  color: #eee !important;
  font-size: 1.75em;
}
